*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    @font-face {
        font-family:'Inter Bold';
        src: url(./fonts/static/Inter-Bold.ttf);
      }
      
    @font-face {
        font-family:'Inter Regular';
        src: url(./fonts/static/Inter-Regular.ttf);
      }
      
    @font-face {
        font-family:'Inter SemiBold';
        src: url(./fonts/static/Inter-SemiBold.ttf);
      }
      

    body{
    background-color: hsl(0, 0%, 8%);
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        min-height: 100vh;
    }

    article {
        min-width: 24rem;
        min-height: 32.625rem;
        background-color: rgb(31, 31, 31);
        border-radius: 1.125rem;
        color: #ffff;
        padding-inline: 2.25rem;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .profile-information {
        display: grid;
        place-items: center;
        margin-bottom: 1.25rem;
    }

    .profile-picture{
        padding: 24px;
    }

    .profile-picture-jpeg {
        min-width: 6.50rem;
        max-height: 6.50rem;
        border-radius: 100%;
    }

    .account-name {
        font-family: 'Inter SemiBold', sans-serif;    
        font-size: 1.500rem;
    }
    
    .account-location {
        font-family: 'Inter Bold', sans-serif;
        font-size: 0.900rem;
        line-height: 150%;
        color: hsl(75, 100%, 67%);
        padding-top: 8px;
        padding-bottom: 20px;
    }

    .account-bio {
        font-family: 'Inter Regular', sans-serif;
        font-size: 0.880rem;
        line-height: 150%;      
    }




    .social-account-button {
        display: grid;
        text-align: center;
        margin-top: 1.25rem;
        
       
    }

    .account-button {
        list-style: none;
        font-family: 'Inter SemiBold', sans-serif;
        font-size: 0.880rem;
        max-width: 100%;
        border-radius: 0.4rem;
    }


    .account-button .account-list {
        background-color: rgb(51, 51, 51);
        padding: 0.80rem 0rem 0.80rem 0rem;
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        cursor: pointer;
        border-radius: 0.4rem;
    }

    .account-list:hover{
        background-color: hsl(75, 94%, 57%);
        color: rgb(31, 31, 31);
        transition: 0.13s;
    }